@import "tailwindcss";

:root {
  --background: var(--color-stone-50);
  --background-dark: var(--color-neutral-900);
  --text: var(--color-neutral-900);
  --text-dark: var(--color-stone-50);
  --link-hover: var(--color-teal-700);
  --caption: var(--color-neutral-600);
  --caption-dark: var(--color-stone-300);
  --inline-code: var(--color-neutral-300);
  --inline-code-dark: var(--color-neutral-600);

  --primary: var(--color-teal-600);
  --track-color: oklch(0.4318 0.0865 166.91);
  --text-on-button: var(--color-stone-50);
  --primary-hover: var(--color-teal-700);

  --secondary: var(--color-transparent);
  --secondary-hover: var(--color-teal-700);

  --tertiary: var(--color-teal-950);
  --tertiary-hover: var(--color-teal-900);
  --grainy-background-color: var(--background);
  --grainy-background-opaque:
    linear-gradient(
      0deg,
      var(--grainy-background-color),
      var(--grainy-background-color)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --grainy-background:
    linear-gradient(
      0deg,
      --alpha(var(--grainy-background-color) / 95%),
      --alpha(var(--grainy-background-color) / 95%)
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

@utility hero {
  font-size: 32px;
  letter-spacing: -0.025em;
  font-weight: 400;
  transition: color 0.2s;

  @variant min-md {
    font-size: 48px;
  }
}

@utility title {
  font-size: 24px;
  font-weight: 400;
  transition: color 0.2s;

  @variant min-md {
    font-size: 32px;
  }
}

@utility subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  transition: color 0.2s;

  @variant min-md {
    font-size: 32px;
    line-height: normal;
  }
}

@utility body {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  transition: color 0.2s;

  @variant min-md {
    font-size: 20px;
    line-height: 29px;
  }
}

@utility caption {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  transition: color 0.2s;

  @variant min-md {
    font-size: 18px;
    line-height: 29px;
  }
}

@utility grainy-background {
  background-size: 400px;
  background-repeat: repeat;
  filter: contrast(100%) brightness(100%);
  background-image: var(--grainy-background);
}

@utility grainy-background-opaque {
  @apply grainy-background;
  background-color: var(--grainy-background-color);
}

@utility image-grain {
  background-image: url("/overlay.png");
  inset: 0;
  position: absolute;
}

@utility dark-tokens {
  --background: var(--color-background-dark);
  --text: var(--color-text-dark);
  --caption: var(--color-stone-300);
  --caption-dark: var(--color-caption-dark);
  --inline-code: var(--color-inline-code-dark);
  --track-color: var(--text);
  --grainy-background-color: rgb(23, 24, 32);
}

@utility clip-path-* {
  /* prettier-ignore */
  clip-path: --value([*]);
}

@utility animation-state-* {
  /* prettier-ignore */
  animation-play-state: --value('paused','running');
}

@utility animation-function-* {
  /* prettier-ignore */
  animation-timing-function: --value(--ease-*,'ease',);
}

@utility after-underline {
  left: 0;
  right: 0;
  bottom: 0;

  position: absolute;
  height: 1px;
  background-color: var(--color-teal-700);
}

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-text: var(--text);
  --color-text-dark: var(--text-dark);
  --color-caption: var(--caption);
  --color-caption-dark: var(--caption-dark);
  --color-link-hover: var(--link-hover);
  --color-inline-code: var(--inline-code);
  --color-inline-code-dark: var(--inline-code-dark);

  --color-primary: var(--primary);
  --color-track-color: var(--track-color);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-text-on-button: var(--text-on-button);

  --font-sans: var(--font-poppins);

  --animate-reveal-left-to-right: revealLeftToRight 1s ease-out forwards;
  --animate-reveal-right-to-left: revealRightToLeft 1s ease-out forwards;

  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }

    60% {
      opacity: 0;
    }

    70%,
    100% {
      opacity: 1;
    }
  }

  @keyframes type {
    0% {
      left: 0;
    }

    40%,
    75% {
      left: 100%;
    }

    100%: {
      left: 0;
    }
  }

  @keyframes revealLeftToRight {
    from {
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  @keyframes revealRightToLeft {
    from {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    to {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
  }
}

html[data-color-scheme="dark"] {
  @apply dark-tokens;
}

/* handles initial color scheme */
@media (prefers-color-scheme: dark) {
  html:not([data-color-scheme="light"]):root {
    @apply dark-tokens;
  }
}

body {
  background: var(--background);
  font-family: var(--font-poppins);
}
